/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


@import 'src/theme/mixins.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Inter' !important;
}

ion-button {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    font-style: normal;
    text-transform: capitalize;
    height: 48px;
    width: 100%;
}

.full-width {
    width: 100%;
}

ion-card {
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
    padding: 0;
    margin: 0;
}

ion-card-header {
    --background: var(--ion-color-primary-800);
    padding: 12px;
}

ion-card-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    color: white;
}

.mat-dialog-container {
    border-radius: 12px !important;
}

.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: var(--ion-color-tertiary-500) !important;
}

.mat-form-field-invalid .mat-form-field-label {
    /*change color of label*/
    color: #f44336 !important;
}

.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: var(--ion-color-tertiary-500) !important;
}

.mat-form-field-invalid .mat-form-field-ripple {
    /*change color of underline when invalid*/
    background-color: #f44336 !important;
}

.mat-mdc-form-field .mdc-text-field {
  background-color: transparent !important;
}

.mat-mdc-form-field .mdc-text-field__input {
  color: white !important;
}

/*media queries*/
@include media-breakpoint-down('lg') {
    .web-visible {
        display: none;
    }

    .planos-card {
        margin: 26px 0 0;
    }
}

@include media-breakpoint-up('lg') {
    ion-split-pane {
        margin-top: 68px;
    }

    .mobile-visible {
        display: none;
    }

    .planos-card {
        margin: 0;
    }
}

.web-wrapper {
    --padding-bottom: 20px;
    --padding-start: 20px;
    --padding-end: 20px;
}

ion-grid {
    --ion-grid-padding: 0px;
    --ion-grid-column-padding: 0px;
    --ion-grid-columns: 12;
}

ion-col {
    padding: 0 12px;
}

.vertical-alignment {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.pointer {
    cursor: pointer;
}

td {
    cursor: pointer;
}

ion-item-divider {
    height: initial;
    line-height: initial;
    font-size: initial;
    min-height: initial;
}

.position-buttons-bottom-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.mat-select-trigger {
    min-width: 40px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s!important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    animation: none;
    background-clip: text;
    -webkit-background-clip: text;
}

@media (min-width: 1800px) {
    ion-button {
        font-size: clamp(0.75rem, -2.2105rem + 2.6316vw, 1.75rem);
    }
}

// @media (min-width: 1800px) {
// 12px -> font-size: clamp(0.75rem, -2.2105rem + 2.6316vw, 1.75rem);
// 16px -> font-size: clamp(1rem, -2.2105rem + 2.6316vw, 2rem);
// }
