<ion-content *ngIf="!isFirstAccess">
    <div class="card-background">
        <div class="blue-filter-background">
            <form
              *ngIf="loginForm"
                [formGroup]="loginForm"
                (submit)="onLogin()"
                (keyup)="selectKey($event)"
                autocomplete="off"
            >
                <div class="form-group">
                    <div class="card">
                        <div class="wrapper">
                            <h1>Login</h1>
                            <mat-form-field
                                class="full-width"
                                appearance="fill"
                                hideRequiredMarker
                            >
                                <mat-label>Usuário</mat-label>
                                <input
                                    type="text"
                                    matInput
                                    formControlName="username"
                                />
                            </mat-form-field>
                            <mat-form-field
                                class="full-width"
                                appearance="fill"
                                hideRequiredMarker
                            >
                                <mat-label>Senha</mat-label>
                                <input
                                    [type]="hidePass ? 'password' : 'text'"
                                    matInput
                                    formControlName="password"
                                    (focus)="passFocus = true"
                                    (focusout)="passFocus = false"
                                />
                                <button
                                    mat-icon-button
                                    matSuffix
                                    (click)="hidePass = !hidePass"
                                    type="button"
                                >
                                    <i
                                        [class]="hidePass ? passFocus ?
                                        'ent-hide color-info-500' : 'ent-hide color-white' :
                                        passFocus ? 'ent-view color-info-500' : 'ent-view color-white'"
                                    ></i>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="d-flex justify-content-start">
                            <a routerLink="/account/forgot-pass">
                                Esqueci minha senha
                            </a>
                        </div>
                        <ion-row>
                            <ion-col>
                                <ion-label color="danger" *ngIf="errorMessage">
                                    {{errorMessage}}
                                </ion-label>
                            </ion-col>
                        </ion-row>
                        <div style="height: 60px">
                            <app-button
                                class="full-width"
                                btnStyle="primary"
                                [disabled]="!loginForm?.valid"
                                title="Entrar"
                                (click)="onLogin()"
                                *ngIf="!isLoading"
                            ></app-button>
                            <ion-row *ngIf="isLoading">
                                <ion-col size="12">
                                    <ion-spinner color="light"></ion-spinner>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ion-content>

<ion-content *ngIf="isFirstAccess">
    <div class="card-background">
        <div class="blue-filter-background">
            <form
              *ngIf="changePasswordForm"
                [formGroup]="changePasswordForm "
                (submit)="onChangePassword()"
                autocomplete="nope"
                style="width: 448px"
            >
                <div class="form-group">
                    <div class="card">
                        <div class="wrapper">
                            <h1>Primeiro acesso</h1>
                            <h4>
                                Notamos que é seu primeiro acesso. Mude sua
                                senha:
                            </h4>
                            <mat-form-field
                                class="full-width"
                                appearance="fill"
                                hideRequiredMarker
                            >
                                <mat-label>Senha</mat-label>
                                <input
                                    matInput
                                    formControlName="password"
                                    [type]="hidePassFirstAccess ? 'password' : 'text'"
                                    (focus)="passFirstAccessFocus = true"
                                    (focusout)="passFirstAccessFocus = false"
                                />
                                <button
                                    mat-icon-button
                                    matSuffix
                                    (click)="hidePassFirstAccess = !hidePassFirstAccess"
                                    type="button"
                                >
                                    <i
                                        [class]="hidePassFirstAccess ? passFirstAccessFocus ?
                                        'ent-hide color-info-500' : 'ent-hide color-white' :
                                        passFirstAccessFocus ? 'ent-view color-info-500' : 'ent-view color-white'"
                                    ></i>
                                </button>
                            </mat-form-field>

                            <mat-form-field
                                class="full-width"
                                appearance="fill"
                                hideRequiredMarker
                            >
                                <mat-label>Confirmar Senha</mat-label>
                                <input
                                    matInput
                                    formControlName="confirmPassword"
                                    [type]="hideConfirmPassFirstAccess ? 'password' : 'text'"
                                    (focus)="confirmPassFirstAccessFocus = true"
                                    (focusout)="confirmPassFirstAccessFocus = false"
                                />
                                <button
                                    mat-icon-button
                                    matSuffix
                                    (click)="hideConfirmPassFirstAccess = !hideConfirmPassFirstAccess"
                                    type="button"
                                    style="background-color: transparent;"
                                >
                                    <i
                                        [class]="hideConfirmPassFirstAccess ? confirmPassFirstAccessFocus ?
                                        'ent-hide color-info-500' : 'ent-hide color-white' :
                                        confirmPassFirstAccessFocus ? 'ent-view color-info-500' : 'ent-view color-white'"
                                    ></i>
                                </button>
                            </mat-form-field>
                        </div>
                        <ion-row>
                            <ion-col class="ion-margin-bottom">
                                <ion-label
                                    color="light"
                                    *ngIf="!firstAccessMessage"
                                >
                                    Sua senha deve conter ao menos 8 caracteres
                                    incluindo letras maiúsculas e minúsculas,
                                    números e símbolos.
                                </ion-label>
                                <ion-label
                                    color="danger"
                                    *ngIf="firstAccessMessage"
                                >
                                    {{firstAccessMessage}}
                                </ion-label>
                            </ion-col>
                        </ion-row>
                        <app-button
                            class="full-width"
                            type="submit"
                            [disabled]="changePasswordForm?.valid ?? false"
                            title="Enviar"
                            *ngIf="!isLoading"
                            btnStyle="primary"
                        ></app-button>
                        <ion-spinner
                            color="light"
                            *ngIf="isLoading"
                        ></ion-spinner>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ion-content>


