.card {
    background-color: rgba(117, 117, 117, 0.086);
    // backdrop-filter: blur(16.874px);
    border-radius: 12px;
    box-shadow: inset 25.5667px -25.5667px 25.5667px rgba(89, 89, 89, 0.086),
        inset -25.5667px 25.5667px 25.5667px rgba(255, 255, 255, 0.086);
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 32px;

    /* Pixel perfect correction */
    backdrop-filter: blur(4.874px);
    border: 1.5px solid #daac2c;

    /**
     * Caso deseje utilizar border-gradiente esta é a opção mas tem um detalhe é
     * impossível utilizar border-gradiente com border-radius desta forma utilizando
     * fundo gradiente dentro da bordar-gradiente solicitada
     */
    // border-width: 1px;
    // border-style: solid;
    // border-image: linear-gradient(to right, #DAAC2C, #8B883C) 1;

    .full-width {
        width: 100%;
    }

    ion-button {
        margin: 0 !important;
    }

    .mat-form-field-underline::before,
    .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: #fff;
    }

    .mat-form-field-label {
        color: #fff;
    }

    .mat-form-field-flex {
        padding-left: 0 !important;
        background-color: transparent;
    }

    .mat-form-field-infix input {
        color: #fff;
    }
}

div a {
    color: #fff;
    margin-bottom: 20px;
    &:hover {
        color: #fff;
    }
}

.card-background {
    width: 100%;
    height: 100vh;
    background: url(../../../assets/images/login.png) center center /
        cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-filter-background {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        180deg,
        rgba(244, 247, 251, 0) 20.69%,
        rgba(42, 88, 122, 0.4) 49.19%,
        rgba(42, 88, 122, 0.6) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    text-align: center;
    margin: auto;

    h1 {
        font-size: 32px;
        font-weight: bold;
        line-height: 38.73px;
        font-style: normal;
        color: white;
        margin-bottom: 38px;
    }

    h4 {
        font-style: normal;
        color: white;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 446px) {
    .login-card {
        border-radius: 0;
    }
}

// input {
//     color: var(--ion-color-primary-100) !important;
// }

// .mat-form-field-underline {
//     background-color: var(--ion-color-primary-100) !important;
// }

// .mat-form-field-appearance-legacy .mat-form-field-label {
//     color: var(--ion-color-primary-100);
// }

// /* Change label color on focused */
// .mat-form-field.mat-focused .mat-form-field-label {
//     color: var(--ion-color-primary-100) !important;
// }

// // /* underline border color on focused */
// .mat-focused .mat-form-field-underline .mat-form-field-ripple {
//     background-color: var(--ion-color-primary-100) !important;
// }

// .mat-form-field.mat-warn .mat-input-element {
//     caret-color: var(--ion-color-primary-100);
//     color: var(--ion-color-primary-100);
// }

// .mat-form-field-invalid .mat-input-element {
//     caret-color: var(--ion-color-primary-100);
//     color: var(--ion-color-primary-100);
// }

// .mat-input-element {
//     caret-color: var(--ion-color-primary-100);
// }

// .mat-form-field-appearance-outline.mat-form-field-invalid
//     .mat-form-field-outline-thick,
// .mat-form-field.mat-form-field-invalid .mat-form-field-label,
// .mat-error {
//     color: var(--ion-color-primary-100) !important;
// }

.mdc-text-field {
  background-color: transparent !important;
  color: white !important;
}

.mdc-floating-label {
  color: white !important;
}

.mdc-line-ripple {
  background-color: white !important;
}

input.mdc-text-field__input {
  color: white !important;
}

.mat-mdc-form-field.mat-mdc-form-field-appearance-fill .mat-mdc-form-field-flex {
  background-color: transparent !important;
}

.mat-mdc-form-field .mdc-line-ripple::before,
.mat-mdc-form-field .mdc-line-ripple::after {
  background-color: white !important;
}

i{
  font-size: 23px;
}
