.card-alert {
  width: 68px;
  height: 25px;
  background-color: var(--ion-color-erro-500);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.button{
  width: 30%;
}

.info-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.grid{
  padding-top: 70px;
}

.web-wrapper{
  background-color: white;
  padding-top: 100px!important;
}

.row-tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* .row-tables-horizontal {
  display: flex;
  flex-wrap: wrap;
} */
